* {
  box-sizing:border-box;
}
.playground {
    display: flex;
    width: 600px;
    height: 600px;
    flex-direction: row;
    flex-wrap:  wrap;
    justify-content: flex-start;
  }
  .cell {
    height: 33.3%;
    width: 33.3%;
    border: 15px solid black;
    font-size: 5em;
    font-family:helvetica;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .cell:hover {
    cursor:pointer;
    background-color: red;
  }
